@font-face {
  font-family: "Sofia Pro";
  src: url("../styles/font/SofiaProRegular.ttf");
}

@font-face {
  font-family: "sofia Pro Light";
  src: url("../styles/font/SofiaProLight.ttf");
}

@font-face {
  font-family: "Manrope Bolder";
  src: url("../styles/Font2/static/Manrope-ExtraBold.ttf");
}

* {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: #362566;
  font-size: 15px;
  color: #2b3038;
  font-family: "Sofia Pro";
  max-width: 100vw;
  overflow-x: hidden;
}